<h1>Places I've Been</h1>

   <style>
            body {
            background-color: rgb(160, 215, 255); /* blue that I like :) */
        }
    </style>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
   <% end %>
</ul>

<p><a href="/place/new">New place</a></p>